.header {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-bottom: 1px solid #eaeaea;
}

.anchor {
  display: inline-block;
  padding: 4px 12px;
  font-size: 1.2rem;
}

.anchor:hover,
.ancor:focus,
.ancor:active {
  color: #0070f3;
}
